!!! 5
%html
  %head
    %title EmberCloneMail: A Sample App Built With EmberJS
    %link{:href=>"/css/emberclonemail.css", :rel=>"stylesheet", :type=>"text/css"}

    %script{ :type=>"text/x-handlebars", :"data-template-name" => "email-list-view"}
      {{#each EmberCloneMail.emailController}}
      {{view EmberCloneMail.EmailPreview tagName="li"}}
      {{/each}}

    %script{ :type => "text/x-handlebars", :"data-template-name" => "email-preview"}
      %header
        %span.from
          {{from}}Joe Bob
        %span.subject
          {{subject}}Did you get that thing I sent you?
        %span.date
          {{date}}10/10/2010

  %body
    %section.header
      .container
        %header
          %h1 EmberCloneMail
        %header.help
          This application demonstrates the use
          %a{:href => "http://emberjs.com"}Ember.js
          \. It's a clone of my
          %a{:href => "http://bbclonemail.heroku.com"}BBCloneMail
          app, re-written in EmberJS, in order to learn it.
            
    %section.content
      .container
        %navigation
          %section#app-selector
            %select
              %option{:value=>"mail"}Mail
              %option{:value=>"contacts"}Contacts
          %section#navigation

        %article#main
          %script{:type => "text/x-handlebars" }
            {{view EmberCloneMail.EmailListView tagName="ul"}}

    %section.footer
      .container
        %footer
          %ul
            %li
              Copyright &copy;2012
              %a{:href=>"http://mutedsolutions.com"}Muted Solutions, LLC.
              All rights reserved. 
          %ul
            %li
              EmberCloneMail is a sample app built with
              %a{:href => "http://emberjs.com"}EmberJS
          %ul
            %li.title EmberCloneMail Source:
            %li
              %a{:href => "http://github.com/derickbailey/emberclonemail"}
                The Github Project
          %ul
            %li.title
              Find me Twitter:
            %li
              %a{:href => "http://twitter.com/derickbailey"}@derickbailey
            %li
              %a{:href => "http://twitter.com/backbonejsclass"}@backbonejsclass
            %li
              %a{:href => "http://twitter.com/mutedsolutions"}@mutedsolutions
          %ul
            %li.title
              Find me on the web:
            %li
              %a{:href => "http://backbonetraining.net"}BackboneTraining.net
            %li
              %a{:href => "http://watchmecode.net"}WatchMeCode.net
            %li
              %a{:href => "http://derickbailey.lostechies.com"}DerickBailey.lostechies.com
            %li
              %a{:href => "http://mutedsolutions.com"}MutedSolutions.com

    // pre-requisites and libraries
    %script{:src=>"/javascripts/vendor/jquery.js"}
    %script{:src=>"/javascripts/vendor/ember.js"}

    // general app files
    %script{:src=>"/javascripts/emberclonemail.js"}

    :javascript
      $(function(){
      });
