!!! 5
%html
  %head
    %title EmberCloneMail: A Sample App Built With EmberJS
    %link{:href=>"/css/emberclonemail.css", :rel=>"stylesheet", :type=>"text/css"}

    %script{ :"data-template-name" => "email-list-view", :type=>"text/x-handlebars"}
      {{#each EmberCloneMail.emailController}}
      {{view EmberCloneMail.EmailPreview 
      tagName="li" 
      contentBinding="this" 
      target="EmberCloneMail.emailController" 
      action="showEmail"}}
      {{/each}}

    %script{ :"data-template-name" => "email-preview", :type => "text/x-handlebars"}
      {{#with content}}
      %header
        %span.from
          {{from}}
        %span.subject
          {{subject}}
        %span.date
          {{date}}
      {{/with}}

    %script{:"data-template-name" => "email-view", :type => "text/x-handlebars"}
      {{#with EmberCloneMail.emailController.selectedEmail}}
      %li
        %header
          %span.from
            {{from}}
          %span.subject
            {{subject}}
          %span.date
            {{date}}
        %article
          .body
            {{#if categories}}
            %ul.emailCategories
              {{#each categories}}
              %li {{this}}
              {{/each}}
            {{/if}}
            %p {{body}}
      {{/with}}

    %script{:"data-template-name" => "email-category-list", :type => "text/x-handlebars"}
      %p Mail Categories
      %ul
        %li
          %a{"data-category" => "", :href => "#inbox"} Inbox
        %li
          %a{"data-category" => "sent", :href => "#inbox/sent"} Sent
        %li
          %a{"data-category" => "trash", :href => "#inbox/trash"} Trash
      %ul.customCategories
        {{#each EmberCloneMail.EmailCategoryController}}
        {{view EmberCloneMail.EmailCategoryView tagName="li" contentBinding="this"}}
        {{/each}}

    %script{:"data-template-name" => "email-category", :type => "text/x-handlebars"}
      {{#with content}}
      %a{:"data-category" => "", :href => "#inbox/categories/"} {{name}}
      {{/with}}

  %body
    %section.header
      .container
        %header
          %h1 EmberCloneMail
        %header.help
          This application demonstrates the use
          %a{:href => "http://emberjs.com"}Ember.js
          \. It's a clone of my
          %a{:href => "http://bbclonemail.heroku.com"}BBCloneMail
          app, re-written in EmberJS, in order to learn it.
            
    %section.content
      .container
        %navigation
          %section#app-selector
            %select
              %option{:value=>"mail"}Mail
              %option{:value=>"contacts"}Contacts
          %section#navigation
            %script{:type => "text/x-handlebars"}
              {{view EmberCloneMail.EmailCategoriesListView}}

        %article#main

    %section.footer
      .container
        %footer
          %ul
            %li
              Copyright &copy;2012
              %a{:href=>"http://mutedsolutions.com"}Muted Solutions, LLC.
              All rights reserved. 
          %ul
            %li
              EmberCloneMail is a sample app built with
              %a{:href => "http://emberjs.com"}EmberJS
          %ul
            %li.title EmberCloneMail Source:
            %li
              %a{:href => "http://github.com/derickbailey/emberclonemail"}
                The Github Project
          %ul
            %li.title
              Find me Twitter:
            %li
              %a{:href => "http://twitter.com/derickbailey"}@derickbailey
            %li
              %a{:href => "http://twitter.com/backbonejsclass"}@backbonejsclass
            %li
              %a{:href => "http://twitter.com/mutedsolutions"}@mutedsolutions
          %ul
            %li.title
              Find me on the web:
            %li
              %a{:href => "http://backbonetraining.net"}BackboneTraining.net
            %li
              %a{:href => "http://watchmecode.net"}WatchMeCode.net
            %li
              %a{:href => "http://derickbailey.lostechies.com"}DerickBailey.lostechies.com
            %li
              %a{:href => "http://mutedsolutions.com"}MutedSolutions.com

    // pre-requisites and libraries
    %script{:src=>"/javascripts/vendor/jquery.js"}
    %script{:src=>"/javascripts/vendor/ember.js"}

    // general app files
    %script{:src=>"/javascripts/emberclonemail.js"}
    %script{:src=>"/javascripts/emberclonemail.email.js"}
    %script{:src=>"/javascripts/emberclonemail.emailcategories.js"}

    :javascript
      $(function(){
      });
